<div class="footer-register">
    <footer>
        <div>
          
          <h5>Follow Us</h5>
          <ul class="social">
            <li>Follow Us :</li>
              <li class="social"><a href="https://www.facebook.com/sait/"><i style="font-size:24px" class="fa">&#xf082;</i></a></li>
              <li class="social"><a href="https://twitter.com/sait"><i style="font-size:24px" class="fa">&#xf099;</i></a></li>
              <li class="social"><a href="https://www.instagram.com/SAIT/"> <i style="font-size:24px" class="fa">&#xf16d;</i></a></li>         
          </ul>
          <p class="copyright">Copyright &copy; 2020 Travel Expert </p>
          <p id="year" class="copyright"></p>
        </div>
      </footer>
  </div>    