<header class="header">
    <div class="text-box-Registration-Login">
        <h1 class="heading-primary">
            <span class="heading-Registration-Login">Travel Expert</span>
        </h1>
    </div>
</header>
