<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- *********** Fontawsome ************* -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
 <!-- *********CSS USed In Project******* -->
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/typography.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/footer.css">
        <link rel="shortcut icon" type="image/png" href="/img/favicon.png">    
        <title>Travel-Expert</title>
    </head>
    <body>
        <nav>
            <div class="topnav" id="myTopnav">       
                <img class="logo-box logo" src="../img/logo-white.png" alt="logo">
                <a href="/">Home</a>
                <a href="/#destinations">Destinations</a>
                <a href="/#contact-us">Contact Us</a>
                <a href="/signup">SignUp</a>
                <a href="/login">Log In</a>
                <a href="javascript:void(0);" class="icon">
                  <i class="fa fa-bars"></i>
                </a>
            </div>
        </nav>
        <%- body%>
    </body>
</html>
