<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- *********** Fontawsome ************* -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
      <!-- ********* CSS Used ********** -->
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
    <title>PageNotFouond</title> 
</head>
<body>
    <header class="header1">
        <div class="pagenotfound">
        </div>
    </header>
  <!-- Frontend JavaScript -->
  <%- include('./partials/common-js-script'); %>
</body>
</html>